Considerando os dados do problema proposto em exercícios anteriores, onde se acredita que a posse de computadores tenha uma relação linear com a renda das famílias.

Informações extras:

O valor da renda está dividido por 1.000.000, isto é, se um estado tem uma renda total de R$ 4,2, significa que ele tem uma renda total de R$ 4.200.000.

Utilize o ferramental do statsmodels para solucionar o problema.

Segue o dataset em formato de dicionário Python para facilitar a solução do problema:


Y é o número de domicílios que possuem computador

X é a renda total recebida por pessoas de 10 anos ou mais, em cada um dos estados brasileiros

**Assinale a alternativa que apresenta o valor do R² obtido de nossa regressão linear**

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy
import statsmodels
import statsmodels.api
from scipy.special import factorial
import statsmodels.api as sm

In [23]:
dataset = {
    'Y': [670, 220, 1202, 188, 1869, 248, 477, 1294, 816, 2671, 1403, 1586, 3468, 973, 701, 5310, 10950, 2008, 9574, 28863, 6466, 4274, 6432, 1326, 1423, 3211, 2140], 
    'X': [1.59, 0.56, 2.68, 0.47, 5.2, 0.58, 1.32, 3.88, 2.11, 5.53, 2.6, 2.94, 6.62, 1.91, 1.48, 10.64, 22.39, 4.2, 21.9, 59.66, 14.22, 9.57, 14.67, 3.28, 3.49, 6.94, 6.25]
}

In [24]:
dataset = pd.DataFrame(dataset)

In [25]:
n = len(dataset)
n

27

In [26]:
SOMA_Y = dataset.Y.sum()
SOMA_Y

99763

In [27]:
SOMA_X = dataset.X.sum()
SOMA_X

216.68

In [28]:
dataset['X2'] = dataset.X ** 2
dataset.head()

      Y     X       X2
0   670  1.59   2.5281
1   220  0.56   0.3136
2  1202  2.68   7.1824
3   188  0.47   0.2209
4  1869  5.20  27.0400

In [29]:
SOMA_X2 = dataset.X2.sum()
SOMA_X2

5444.7717999999995

In [30]:
SOMA_Y2 = dataset.Y.apply(lambda y: y ** 2).sum()
SOMA_Y2

1230168225

In [31]:
dataset['XY'] = dataset.X * dataset.Y
dataset.head()

      Y     X       X2       XY
0   670  1.59   2.5281  1065.30
1   220  0.56   0.3136   123.20
2  1202  2.68   7.1824  3221.36
3   188  0.47   0.2209    88.36
4  1869  5.20  27.0400  9718.80

In [32]:
SOMA_XY = dataset.XY.sum()
SOMA_XY

2584589.03

In [33]:
dataset.drop(['X2', 'XY'], axis = 1, inplace = True)
dataset.head()

      Y     X
0   670  1.59
1   220  0.56
2  1202  2.68
3   188  0.47
4  1869  5.20

In [34]:
numerador = n * SOMA_XY - SOMA_X * SOMA_Y
denominador = n * SOMA_X2 - (SOMA_X) ** 2
beta_2 = numerador / denominador
beta_2

481.3903969421475

In [35]:
beta_1 = dataset.Y.mean() - beta_2 * dataset.X.mean()
beta_1

-168.32115590461171

In [36]:
dataset['Y_previsto'] = beta_1 + beta_2 * dataset.X
dataset.head()

      Y     X   Y_previsto
0   670  1.59   597.089575
1   220  0.56   101.257466
2  1202  2.68  1121.805108
3   188  0.47    57.932331
4  1869  5.20  2334.908908

In [41]:
Y = dataset.Y
X = sm.add_constant(dataset.X)

In [42]:
resultado_regressao = sm.OLS(Y, X, missing='drop')

In [43]:
resultado_regressao = resultado_regressao.fit()

In [37]:
dataset['u'] = dataset.Y - dataset.Y_previsto
dataset.head()

      Y     X   Y_previsto           u
0   670  1.59   597.089575   72.910425
1   220  0.56   101.257466  118.742534
2  1202  2.68  1121.805108   80.194892
3   188  0.47    57.932331  130.067669
4  1869  5.20  2334.908908 -465.908908

In [44]:
dataset['Residuo'] = resultado_regressao.resid
dataset.head()

      Y     X   Y_previsto           u     Residuo
0   670  1.59   597.089575   72.910425   72.910425
1   220  0.56   101.257466  118.742534  118.742534
2  1202  2.68  1121.805108   80.194892   80.194892
3   188  0.47    57.932331  130.067669  130.067669
4  1869  5.20  2334.908908 -465.908908 -465.908908

In [45]:
dataset.drop(['u'], axis = 1, inplace=True)

In [46]:
dataset.head()

      Y     X   Y_previsto     Residuo
0   670  1.59   597.089575   72.910425
1   220  0.56   101.257466  118.742534
2  1202  2.68  1121.805108   80.194892
3   188  0.47    57.932331  130.067669
4  1869  5.20  2334.908908 -465.908908

In [47]:
SQE = dataset.Residuo.apply( lambda u:  u**2).sum()
SQE

2764109.3924916466

In [48]:
SQT = dataset.Y.apply(lambda Y: (Y - dataset.Y.mean()) ** 2).sum()
SQT

861551329.8518518

In [49]:
SQR = dataset.Y_previsto.apply(lambda Y: (Y - dataset.Y.mean()) ** 2).sum()
SQR

858787220.4593598

In [50]:
R2 =  SQR /SQT
R2

0.996791706661323

R²= 0996

In [51]:
resultado_regressao.rsquared

0.9967917066613234